google-cloud-aiplatform[adk,agent-engines]>=1.108.0
google-adk[eval]>=1.31.0
pydantic-settings>=2.8.1
tabulate>=0.9.0
google-auth>=2.36.0
requests>=2.32.3
llama-index>=0.12
openinference-instrumentation-google-adk>=0.1.0
openinference-instrumentation>=0.1.34
arize-otel>=0.8.2
arize>=7.36.0